html, body {
  height: 100%;
  margin: 0;
}
mark{background-color:lightgray;}
table,td,th {border:1px solid black;}
th {height:25px;}
.標籤1,.標籤2{background-color: lightgray;}
#head{
  height: 10%;
  background-color:#EAC100;
  text-align: center;
}
img{vertical-align: middle;height: 160px;width: 160px;text-align: center;margin: 0 auto;}
#body{
  width: 50%;
  margin: 0 auto;
  min-height: 90vh;
  padding: 1em;
}

#面板{
  display: flex;
  justify-content: space-between;
}

#玩家標籤,#怪物標籤{
  width: 45%;
  text-align: center;
}

table{
  width: 100%;
  border-collapse: collapse;
}

button{
  display: block;
  margin: 1em auto;
}
